---
import Project from './Project.astro';
import { getCollection } from 'astro:content';
import ProjectLayout from '../../layouts/ProjectLayout.astro';

const blogEntries = await getCollection('projects');
---
<div class="p-4 flex gap-y-32 flex-wrap justify-evenly">
    {blogEntries.map((project) => (
        <Project title={project.data.title} link={`/evan-portfolio/projects/${project.slug}`} path={project.data.image} alt={project.data.alt}/>
    ))}
</div>