---
import ucfLogo from '../../images/ucf.svg';
---

<div class="dark:bg-neutral-800 bg-neutral-100 mt-12 w-10/12 mx-auto rounded-md py-8 px-4 shadow-2xl">
    <div class="flex flex-col gap-3">
        <div class="flex items-center gap-5">
            <div class="bp-grad">
                <i class="fa-solid fa-graduation-cap fa-xl text-transparent"></i>
            </div>

            <h1 class="text-4xl">Education</h1>
        </div>
        <div class="mt-4 md:ml-4 flex flex-wrap gap-12 md:justify-start justify-center">
          <a href="https://ucf.edu/" class="shadow-sm transform ease hover:scale-105 w-32 flex justify-center"><img class="rounded-md shadow-lg" src={ucfLogo.src} height="2" width="190"></a>
          <div class="flex flex-col justify-around md:text-left text-center">
            <div>
              <h1 class="text-3xl">University of Central Florida</h2>
              <h2 class="text-xl">Orlando, Florida</h2>
            </div>
            <div>
              <p>B.S. in Computer Science</p>
              <p>August 2021 - May 2025</p>
            </div>
          </div>
        </div>
    </div>
</div>