---
import { ViewTransitions } from 'astro:transitions';
import Education from "../components/about/Education.astro";
import Experience from "../components/about/Experience.astro";
import portrait from "../images/portrait.jpg";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { fade } from 'astro:transitions';

import '../styles/base.css';
import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

import '@fontsource/dm-sans';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <ViewTransitions />
  </head>
  <body class="dark:bg-neutral-900 dark:text-zinc-200 bg-neutral-200 text-zinc-800">
    <Header />
    <div transition:animate="fade">
      <div>
        <h1 class="text-4xl font-bold relative inline-block ml-8 mt-8">
          About
          <div class="inline-block h-1 bg-gradient-to-r from-blue-500 to-purple-500 ml-0.5 mb-6 w-11/12 rounded-sm"></div>
        </h1>
      </div>
      <div class="flex flex-col items-center justify-center gap-4 p-5">
        <div class="w-full p-4 rounded-md flex flex-wrap justify-center gap-y-6">
          <img class="rounded-lg shadow-lg" src={portrait.src} width="450">
          <div class="md:flex items-start justify-around gap-y-4 p-2 w-max flex-1">
            <Experience/>
            <Education/>
          </div>
        </div>
        <div class="p-4 flex md:flex-nowrap flex-wrap gap-4 text-center justify-center text-xl w-full">
          <div class="flex flex-col justify-center gap-4 p-8 rounded-md shadow-lg dark:bg-neutral-800 bg-neutral-100 md:w-10/12">
            <p>Welcome to my portfolio website! I'm Evan Goldsmith, a senior at the University of Central Florida, pursuing a Bachelor's degree in Computer Science.</p>
            <p>I am a passionate software developer with a variety of interest from full stack development to DevOps and cloud infrastructure. Throughout my academic journey, I have delved into various aspects computer science such as object oriented programming, data structures and algorithms, and machine learning.</p>
          </div>
          <div class="flex flex-col justify-center gap-4 p-8 rounded-md shadow-lg dark:bg-neutral-800 bg-neutral-100 md:w-10/12">
            <p>Currently, I am working as a Software Developer with the TechRangers team at the UCF Center for Distributed Learning. In this role, I actively contribute to the development of innovative learning tools and applications for UCF's online content.</p>
            <p> My expertise lies in using Python and JavaScript with popular frameworks like Django, Flask, and React to create seamless and interactive web interfaces. I also specialize in developing robust backend services and databases to support these applications. </p>
          </div>

        </div>
      </div>
      <div class="flex justify-evenly gap-4  p-5">

      </div>
    </div>
  </body>
</html>