---
import { ViewTransitions } from 'astro:transitions';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../styles/base.css';
import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
import '@fontsource/dm-sans';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <title>About</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class="bg-neutral-900 text-white">
    <Header />
    <h1 class="text-4xl font-bold m-8">About</h1>
    <Footer />
  </body>
</html>