---
import { ViewTransitions } from 'astro:transitions';
import Education from "../components/about/Education.astro";
import Experience from "../components/about/Experience.astro";
import portrait from "../images/portrait2.png";


import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { fade } from 'astro:transitions';

import '../styles/base.css';
import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

import '@fontsource/dm-sans';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
    <ViewTransitions />
  </head>
  <body class="dark:bg-neutral-900 dark:text-zinc-200 bg-neutral-200 text-zinc-800">
    <Header />
    <div transition:animate="fade">
      <div>
        <h1 class="text-4xl font-bold relative inline-block ml-8 mt-8">
          About
          <div class="inline-block h-1 bg-gradient-to-r from-blue-500 to-purple-500 ml-0.5 mb-6 w-11/12 rounded-sm"></div>
        </h1>
      </div>

    <div class="dark:bg-neutral-800 bg-neutral-100 mt-8 w-10/12 max-w-screen-xl self-center rounded-md flex flex-wrap justify-evenly gap-8 mx-auto text-center py-8 px-4 shadow-2xl">
      <img class="rounded-md shadow-lg w-[238px] h-[358px]" src={portrait.src} height="358" width="238">
      <div class="flex flex-col gap-5 md:w-2/4 sm:w-full text-xl justify-center">
        <p>Welcome to my portfolio website! I'm Evan, a recent computer science graduate from the University of Central Florida.</p>
        <p>I have a wide variety of interests in computer science, including machine learning, data science, distributed systems and more! Outside of programming, I love playing and watching basketball, as well as making music. Feel free to look around this portfolio site to learn more about my projects and experience.</p>
      </div>  
    </div>

    <Education />

    <Experience />

  </body>
</html>