---
import { ViewTransitions } from 'astro:transitions';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/home/Hero.astro';
import Skills from '../components/home/Skills.astro';
import ProjectPreview from '../components/home/ProjectPreview.astro';

import '../styles/base.css';
import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
import '../../node_modules/devicon/devicon.min.css';


import '@fontsource/dm-sans';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Evan Goldsmith</title>
		<ViewTransitions />
	</head>
	<body class="dark:bg-neutral-900 dark:text-zinc-200 bg-neutral-200 text-zinc-800">
		<Header />
		<div transition:animate="fade">
			<Hero />
			<Skills />
			<ProjectPreview />
		</div>
	</body>
</html>
