---
import { ViewTransitions } from 'astro:transitions';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { fade } from 'astro:transitions';

import '../styles/base.css';
import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <title>About</title>
    <ViewTransitions />
  </head>
  <body class="bg-neutral-900 text-zinc-200">
    <Header />
    <div transition:animate="fade">
      <!-- <h1 class="text-4xl font-bold m-8" >About<div class="h-1  bg-blue-500 mt-1"></div></h1> -->
      <div>
        <h1 class="text-4xl font-bold relative inline-block m-8">
          Projects
          <div class="inline-block h-1 bg-gradient-to-r from-blue-500 to-purple-500 mb-6 w-11/12 rounded-sm"></div>
        </h1>
      </div>
    </div>
  </body>
</html>