---
const skills = [
    {
        name: 'Python',
        icon: 'fa-brands fa-python',
        link: 'https://www.python.org/',
    },
    {
        name: 'JavaScript',
        icon: 'fa-brands fa-js-square',
        link: 'https://www.javascript.com/',
    },
    {
        name: 'Java',
        icon: 'fa-brands fa-java',
        link: 'https://www.java.com/',
    },
    {
        name: 'React',
        icon: 'fa-brands fa-react',
        link: 'https://reactjs.org/',
    },
    {
        name: 'Docker',
        icon: 'fa-brands fa-docker',
        link: 'https://www.docker.com/',
    },
    {
        name: 'Node.js',
        icon: 'fa-brands fa-node-js',
        link: 'https://nodejs.org/en/',
    },
    {
        name: 'Tailwind CSS',
        icon: 'fa-brands fa-css3-alt',
        link: 'https://tailwindcss.com/',
    },
    {
        name: 'Git',
        icon: 'fa-brands fa-git-alt',
        link: 'https://git-scm.com/',
    }
]

---

<div class="dark:bg-neutral-800 bg-neutral-100 mt-12 w-10/12 mx-auto rounded-md py-8 px-4 shadow-2xl">
    <div class="flex flex-col gap-3">
        <div class="flex items-center gap-5">
            <div class="bp-grad">
                <i class="fa-solid fa-code fa-2xl text-transparent"></i>
            </div>

            <h1 class="text-4xl">Skills</h1>
        </div>
        <p class="text-lg">Some technologies/languages I enjoy.</p>
        <div class="flex flex-wrap justify-center mt-4 gap-10">
            {skills.map((skill) => (
                <a href={`${skill.link}`}><i class={`bp-grad-hover ${skill.icon} fa-4x`}></i></a>
            ))} 
        </div>
    </div>
</div>