---
import { iconMap } from '../../utils/iconmap.ts';

const skills = [
    'Python',
    'Javascript',
    'Java',
    'React',
    'Docker',
    'Flask',
    'Tailwind',
    'Django',
    'MySQL',
    'MongoDB'
];

---

<div class="dark:bg-neutral-800 bg-neutral-100 mt-12 w-10/12 mx-auto rounded-md py-8 px-4 shadow-2xl">
    <div class="flex flex-col gap-3">
        <div class="flex items-center gap-5">
            <div class="bp-grad">
                <i class="fa-solid fa-code fa-2xl text-transparent"></i>
            </div>

            <h1 class="text-4xl">Skills</h1>
        </div>
        <p class="text-lg">Some technologies/languages I enjoy.</p>
        <div class="flex flex-wrap justify-center mt-4 gap-10">
            {skills.map((skill) => (
                <a href={`${iconMap[skill].link}`}><i class={`bp-grad-hover ${iconMap[skill].icon} fa-4x`}></i></a>
            ))} 
        </div>
    </div>
</div>