---
---

<div class="bg-neutral-800 mt-12 w-10/12 mx-auto rounded-md py-8 px-4">
    <div class="flex flex-col gap-3">
        <div class="flex items-center gap-5">
            <div class="bp-grad">
                <i class="fa-solid fa-code fa-2xl text-transparent"></i>
            </div>

            <h1 class="text-4xl">Skills</h1>
        </div>
        <p class="text-lg">Some technologies/languages I enjoy.</p>
    </div>
</div>