---
const { platform, username, icon } = Astro.props
---
<div>
    <a target=”_blank” href={`https://www.${platform}.com/${username}`} class="bp-grad"><i class={`text-white bp-grad-hover ${icon} fa-4x transform hover:scale-125 ease-in-out duration-100`}></i></a>
</div>
